<!doctype html>
<html lang="en">
  <head>
    <title>ReDoc</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body { margin: 0; padding: 0; }
    </style>
  </head>
  <body>
    <redoc spec-url='/SERVANT_SWAGGER_UI_SCHEMA'></redoc>
    <script src="redoc.min.js"> </script>
  </body>
</html>
