<!doctype html>
<html lang="en">
  <head>
    <title>ReDoc</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body { margin: 0; padding: 0; }
    </style>
    <script>
        // Force Strict-URL Routing for assets relative paths
        // if the path contains no fragment (otherwise fragment links don't work)
        (function onload() {
            if (!window.location.href.endsWith("/") && window.location.href.indexOf("#") === -1) {
                window.location.href += "/";
            }
        }());
    </script>
  </head>
  <body>
    <redoc spec-url='../SERVANT_SWAGGER_UI_SCHEMA'></redoc>
    <script src="https://cdn.redoc.ly/redoc/v2.0.0-rc.76/bundles/redoc.standalone.js"> </script>
  </body>
</html>
